{% extends "base.html" %}

{% block content %}
    <div class="login-container">
        <h1>Bem-vindos ao Nosso Diário de Filmes!</h1>
        <p>Faça login para começar a registrar.</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="button-submit">Entrar</button>
        </form>
    </div>
{% endblock %}